

.main-content {
    width: 1440px;
    margin: auto;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: var(--Dark-Primary, #2A254B);
}

.main-links {
    width: 1440px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--Border-Grey, #EBE8F4);
}
.main-logo {
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    text-decoration: none;
    font-weight: 400;
    line-height: normal;
}
.main-navigation {
    display:flex;
}
.navigation {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px 0px;
    color: #726E8D;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.navigatioitem:not(:first-child) {
    padding-left: 44px;
}
.side-action {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.side-action-item {
    min-width: 16px;
    min-height: 16px;
    background-repeat: no-repeat;
}
    
.search {
    background-image: url('../img/search.svg');

}
.shopping {
    background-image: url('../img/shopping--cart.svg');

}
.avatar {
    background-image: url('../img/user--avatar.svg');
}
.heading {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 80px 0 24px 0;
}
.page-name {

    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;
    margin: auto;
}
.page-header {
    display: flex;
    justify-content: space-between;
    margin: 0px 24px;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
}
.header-menu {
    display: flex; 
}
select {
    border: none;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.header-menu-item {
    padding: 12px 24px;
}

.filters-sort-label {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.filters-sort {
    margin-right: 48px;
    padding: 0 24px;
}

.sort {
    display: flex;
    justify-content: space-between;
    justify-self: end;
}

.listings {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin-top: 28px;
}
.product-card {
    /* margin: 28px 0 20px 0; */
    width: 100%;
}
.product {
    width: 100%;
    margin-bottom: 24px;
}
.name {
    padding-bottom: 8px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%; 
}
 .price {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; 
    
 }
.view {
    margin: 48px 630px 40px 635px;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
    background-color: #F9F9F9;
    border: none;
    padding: 16px 32px;
    width: 175px;
    height: 56px;
}
.sign-up {
    display: grid;
    grid-template-columns: 720px 720px;
    height: 521px;

}
.join-us {
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    width: 541px;
    height: 39px;
}
.join-us2 {
    color: var(--Dark-Primary, #2A254B);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
    margin: 21px 0 216px 0;
    width: 470px;
}

.join {
    margin: 49px 71px;
}
.sofa {
    background-image: url(../img/join-background.jpg);
}
.btn {
    padding: 16px 32px;
    background: var(--Dark-Primary, #2A254B);
    color: white;
    border: none;
    margin-left: 26px;
}

.footer {
    background: var(--Dark-Primary, #2A254B);
    color: white;
    padding: 58px 80px 25px 82px;

 
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
 
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, auto)) 642px;
}

.first {
    font-family: Montserrat;
    font-size: 16px;
}
.footer-item {
    margin-bottom: 12px;
    width: auto;

}
.final {
display: flex;
justify-content: space-between;
margin-top: 57px;
border-top: 1px solid #4E4D93;

}
.copyright {
    padding: 24px 0px 25px 0px;

    
}
.social-media {
    display: flex;
    align-content: space-around;
    align-items: center;
    column-gap: 24px;

}
.social {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    align-items: flex-end;


}
.In {
    background-image: url(../img/logo--linkedin.svg);
}
.F {
    background-image: url(../img/logo--facebook.svg);
}
.Ins {
    background-image: url(../img/logo--instagram.svg);
}
.S {
    background-image: url(../img/logo--skype.svg);
}
.Tw {
    background-image: url(../img/logo--twitter.svg);
}
.P {
    background-image: url(../img/logo--pinterest.svg);
}